/* ALL DISPLAY FORMATS */
h1 {
  font-size: 50px;
  color: #00008b;
}

h2 {
  font-size: 25px;
  color: #1e90ff;
}

h3 {
  font-size: 20px;
  color: #1e90ff;
}

/* h4 IS USED FOR THE CLOSE 'X' BUTTON */

/* h4 {
  font-size: 35px;
} */

.modal {
  display: none;
    background-color: white;
  padding: 5px;
    border: 1px solid red;
}

/* MOBILE PORTRAIT START */
/* HIDE THE TOP NAVIGATION BAR FOR TABLET AND MOBILE  */
@media screen and (max-width: 320px) {
  
  h1 {
  font-size: 25px;
  color: #074173;
/*     color:white; */
/*     background-color: white; */
}

h2 {
  font-size: 20px;
  color: #1679AB;
}

h3 {
  font-size: 15px;
  color: #C5FF95;
}

  
  .topflexbox {
    display: grid;
  }

  .exclude-menu {
    background-image: url("https://i.imgur.com/Ja5yGRx.jpeg");
    background-repeat: none;
    background-position: bottom;
    background-size: cover;
    height: 200px;
    display: flex;
/*     align-items: bottom;
    justify-content: space-between; */
/*     padding: 10px; */
  }
  
/*   .heading {
    font-size: 5px;
    height: 20px;
    color: white;
    background-color: white;
    align-self: flex-end;
    opacity: 0.8;
  } */

  /* HIDE TASK LIST */

  .topnav {
    display: block;
    text-decoration: none;
    position: absolute;
    justify-self: right;
    text-align: right;
    padding: 10px;
  }

  #topMenu {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #dcdcdc;
    z-index: 1;
  }

  /* STYLE THE LINKS IN HAMBURGER DROPDOWN */
  .topnav a {
    color: #0000ff;
    font-size: 20px;
    display: block;
    justify-self: right;
    text-decoration: none;
  }

  /* HIDE myLinks UNTIL HAMBURGER IS CLICKED */
  #myLinks {
    display: none;
    position: relative;
    justify-self: right;
    color: white;
  }

  /* END HAMBURGER MENU */

  .topflexbox-limerick {
    display: none;
    font-size: 15px;
    font-style: italic;
    color: black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    align-self: flex-end;
    opacity: 0.8;
  }
  
  .modal {
    display: none;
  }

  .happening-now-section {
    margin-top: 30px;
        border: 1px solid red;
  }

  
.season-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 15px;
  border: 2px solid green;
}

.season {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  background-color: white;
      background-color: #C5FF95;
  padding-bottom: 20px;
/*   border: 5px solid orange; */
}

.carousel {
/*   display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  border: 5px solid pink; */
}

.spring-topic {
/*  display: grid;
  position: relative;
  align-self: center;
   border: 10px solid pink; */
}

.caption {
    font-size: 18px;
  text-align: center;
  color:black;
}

/* .spring-topic {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  background-color: white;
  border: 5px solid red; 
} */

.season-box img {
  display: block;
  margin: auto;
  width: 75%;
  border-radius: 5%;
}

.season-name {
/*   color: #C5FF95; */
      color: #1679AB;
  font-size: 30px;
    text-align: center;
/*   text-align: left; */
/*   padding-left: 15px; */
/*   text-underline-offset: 15px; */
  font-weight: bold;
}

.season-topic-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.transition-arrow-dot-spring {
  display: flex;
  justify-content: space-evenly;
  width: max;
  border: 5px solid purple;
}

/* Next & previous buttons */
.prev-spring,
.next-spring {
  cursor: pointer;
  position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: green;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /*   border-radius: 0 3px 3px 0; */
  border-radius: 50%;
  user-select: none;
  border: 3px solid;
}

.arrows-spring {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

/* The dots/bullets/indicators */
.dot-spring {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot-spring:hover {
  background-color: green;
}

/* .dot-spring:active {
  background-color: green;
       border: 5px solid red;
} */

/* .dot-spring:hover {
  background-color: green;
} */

.spring-topic-plus-image {
  background-color: white;
}

/* The Close Button */
.close-one {
  color: #888;
  float: right;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  /*   user-select: none; */
  /*   border: 3px solid; */
  border: 2px solid #888;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  color: #808080;
  background-color: #f9fbfa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #888;
  border-radius: 50px;
  margin-bottom: 10px;
  /*            border: 5px solid green; */
}
}

  .footer {
     font-size: 14px;
  }
